.form_wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  box-sizing: border-box;

  label {
    @include heading-3;
    text-align: left;
  }

  input {
    @include paragraph-1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--gray-400);
    background-color: var(--gray-50);
    &:focus {
      outline: none;
      border: 1px solid var(--orange-500);
    }
  }
}
