.container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 64px;
    padding: 20px;
  
    .header {
      position: fixed;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      max-width: 600px;
      z-index: 10;
      background-color: var(--white);
    }
  
    .crew_list {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
  
      .crew_title {
        @include Bold-02;
        text-align: left;
        color: var(--black);
      }
  
      .crew_hr {
        margin-top: 20px;
        border: 0;
        height: 1px;
        background-color: var(--gray-300);
      }
    }
  }
  