.meeting_card {
  box-shadow: 0px 8px 24px 0px rgba(149, 157, 165, 0.2);
  padding: 16px;
  border-radius: 12px;
  background-color: var(--white);
  padding: 20px;

  .card_content {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .card_header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .header_info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
      }

      .meeting_date {
        @include Medium-03;
        display: flex;
        align-items: center;
        gap: 5px;

        .date {
          color: var(--gray-800);
        }

        .d_day {
          color: var(--red);
        }

        color: var(--red);
      }

      .title {
        @include Medium-03;
      }

      .cancel_button {
        @include Medium-04;
        border: 1px solid var(--red);
        border-radius: 4px;
        color: var(--red);
        padding: 5px 10px;
      }

      .join_button {
        @include Medium-04;
        border: 1px solid var(--blue-500);
        border-radius: 4px;
        color: var(--blue-500);
        padding: 5px 10px;
      }
    }

    .card_body {
      @include Medium-05;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      .image_container {
        width: 80px;
        height: 70px;

        .meeting_image {
          width: 100%;
          height: 100%;
          object-fit: fill;
          border-radius: 8px;
        }
      }

      .info_container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;

        .map_link {
          color: var(--gray-600);
        }
      }
    }

    .member_list {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 3px;
      margin-top: 10px;

      .member_image {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
      }

      .more_members {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: var(--gray-300);
        opacity: 0.5;
      }
    }
  }
}
