.container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  padding: 20px;

  .header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 600px;
    z-index: 10;
    background-color: var(--white);
  }

  .image_container {
    text-align: center;
  }

  .logo_image {
    max-width: 100%;
    height: auto;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;

    .form_item {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .label {
        @include Medium-03;
        display: flex;
        align-items: center;
      }

      .input {
        @include Regular-03;
        padding: 10px;
        border: 2px solid transparent;
        border-radius: 8px;
        background-color: var(--gray-100);

        &::placeholder {
          color: var(--gray-400);
        }

        &:focus {
          outline: none;
          border: 2px solid var(--orange-400);
        }
      }

      .phone_input_container {
        display: flex;
        align-items: center;
        gap: 10px; // 인풋 필드와 버튼 사이의 간격을 조절합니다.

        .input {
          flex-grow: 1; // 입력 필드가 가능한 넓게 확장됩니다.
        }

        .submit_button {
          margin-top: 0;
          padding: 12px 20px;
          white-space: nowrap; // 버튼 텍스트가 줄 바꿈되지 않도록 합니다.
        }
      }
    }

    .error_message {
      color: red;
      text-align: left;
    }

    .submit_button {
      @include Regular-03;
      margin-top: 20px;
      padding: 15px;
      border-radius: 8px;
      background-color: var(--orange-400);
      color: var(--white);
      text-align: center;
    }

    .links_container {
      display: flex;
      justify-content: center;
      gap: 40px;
      margin-top: 10px;

      .link {
        text-decoration: none;
      }

      .link:hover {
        text-decoration: underline;
      }
    }

    .social_login {
      display: flex;
      justify-content: center;
      gap: 20px;

      .social_icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        overflow: hidden;
        text-decoration: none;
      }

      .social_icon.kakao {
        background-image: url('/images/kakao-login.png');
        background-position: left center;
      }

      .social_icon.naver {
        background-image: url('/images/naver-login.png');
      }
    }
  }
}
