.container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 81px;
  padding: 20px;

  .header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 600px;
    z-index: 10;
    background-color: var(--white);
  }

  .button_container {
    position: fixed;
    bottom: calc(10px + 46px + env(safe-area-inset-bottom));
    right: 30px;
    background-color: var(--orange-500);
    border-radius: 50%;
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

    @media (min-width: 600px) {
      right: calc(50% - 220px);
    }
  }

  .board_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
  }

  .board_list > * {
    position: relative;
    padding-bottom: 10px;
  }

  .board_list > *::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: var(--gray-400);
  }

  .board_list > *:last-child::after {
    content: none;
  }

  .category_menu {
    display: flex;
    gap: 10px;

    .category_button {
      @include Medium-04;
      padding: 5px 10px;
      border-radius: 12px;
      background-color: var(--gray-300);
      color: var(--gray-700);
      transition: background-color 0.2s;
      margin-bottom: 10px;
      margin-right: -20px;
      margin-left: 20px;

      &.active {
        background-color: var(--orange-500);
        color: var(--white);
      }
    }
  }

  //@media (max-width: 600px) {
  //  .category_menu {
  //    .category_button {
  //      @include Medium-05; /* 작은 화면에서 적용할 스타일 */
  //      padding: 4px 8px; /* 패딩을 줄여서 버튼 크기 감소 */
  //      font-size: 12px; /* 폰트 크기 조정 */
  //    }
  //  }
  //}

  @media (max-width: 340px) {
    .category_menu {
      .category_button {
        @include Medium-06; /* 더 작은 화면에서 적용할 스타일 */
        padding: 4px 8px; /* 패딩을 더 줄여서 버튼 크기 감소 */
        font-size: 12px; /* 폰트 크기 조정 */
      }
    }
  }
}
