.container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .title {
    input {
      @include Medium-03;
      width: 100%;
    }
    display: flex;
    justify-content: space-between;
  }
}
