.container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 600px;
    z-index: 10;
    background-color: var(--white);
  }

  .category {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    select {
      border-radius: 20px;
      width: 150px;
      padding-left: 10px;
    }
    padding-top: 70px;
  }

  .title {
    input {
      @include Medium-03;
      width: 80%;
      padding-left: 10px;
      color: var(--black);
    }
    display: flex;
    justify-content: space-between;
    margin-left: 20px;

    .title_category {
      @include Medium-05;
      margin-top: auto;
      margin-right: 20px;
      color: var(--blue-500);
    }
  }

  .editor {
    margin: 10px 10px;
  }
}
