.container {
  padding: 20px; /* 전체 컨테이너 패딩 */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 100vh;

  .member_info {
    display: flex; /* 수평 정렬을 위해 flex 사용 */
    align-items: center; /* 수직 중앙 정렬 */
    margin-bottom: 15px; /* 아래쪽 여백 */

    .member_image {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 10px; /* 이미지와 텍스트 간의 간격 */
      margin-left: 15px;
    }

    .member_details {
      display: flex;
      flex-direction: column; /* 세로 방향으로 정렬 */
      width: 100%;
    }

    .nickname_role {
      display: flex; /* 닉네임과 역할을 수평으로 정렬 */
      align-items: center; /* 수직 중앙 정렬 */
      justify-content: space-between; /* 요소들 사이에 공간을 두어 양쪽 끝으로 정렬 */
      width: 100%; /* 전체 너비를 사용 */
    }

    .nickname {
      @include Medium-03;
      margin-right: 5px; /* 닉네임과 역할 사이의 간격 */
    }

    .role {
      @include Medium-03;
      color: var(--blue-500);
      margin-right: 10px; /* 역할과 카테고리 사이의 간격 */
    }

    .category {
      @include Medium-03;
      color: var(--blue-500);
      margin-left: auto; /* 카테고리를 오른쪽으로 밀어내기 */
      margin-right: 20px;
    }

    .date {
      margin-top: 5px; /* 날짜와 위 요소 사이의 간격 */
      align-self: flex-start; /* 날짜를 왼쪽 정렬 */
      color: var(--gray-400);
    }
  }

  .body {
    margin-bottom: 20px; /* 콘텐츠와 댓글 입력 간의 간격 */
    flex: 1;

    .title {
      @include Bold-01;
      text-align: left;
      margin-left: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .content {
      @include Regular-05;
      text-align: left;
      margin: 0 20px 20px 20px;
    }

    .commentContainer {
      display: flex; /* flexbox 사용 */
      justify-content: flex-end; /* 오른쪽 정렬 */
      margin: 0 20px; /* 좌우 여백 */
    }

    .total_comment {
      @include Light-05;
      color: var(--gray-400);
    }

    .separator {
      height: 1px; /* 구분선의 두께 */
      background-color: var(--gray-400); /* 구분선 색상 */
      margin: 10px 10px; /* 구분선의 여백 */
    }
  }

  .commentList {
    flex-grow: 1;
    margin-top: -20px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 80px;
  }

  .commentItem {
    display: flex; /* 댓글 항목을 수평으로 정렬 */
    flex-direction: column; /* 세로 방향으로 정렬 */
    padding: 10px; /* 댓글 항목 패딩 */
    border-bottom: 1px solid #eee; /* 아래쪽 테두리 */
  }

  .commentItem p {
    margin-left: 5px;
    margin-right: 10px;
    text-align: left;
  }

  .commentContent {
    margin-left: 30px;
    margin-top: 5px; /* 댓글과 버튼 사이의 간격을 줄임 */
    display: flex; /* 버튼을 수평으로 정렬하기 위해 flex 사용 */
    flex-direction: column; /* 버튼을 수평 방향으로 정렬 */

    .comment_button {
      margin-right: auto;
      margin-left: 5px;
      margin-top: 10px;
    }
  }

  .commentItem button {
    margin-left: 10px; /* 버튼 간의 간격 */
    background-color: transparent; /* 투명 배경 */
    border: none; /* 테두리 없음 */
    color: #007bff; /* 버튼 텍스트 색상 */
    cursor: pointer; /* 커서 포인터로 변경 */
  }

  .commentItem button:first-child {
    margin-left: 0; /* 첫 번째 버튼의 왼쪽 여백 제거 */
  }

  .commentInput {
    display: flex; /* 댓글 입력을 수평으로 정렬 */
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 10px 20px 10px;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    height: 60px;
    width: 100%;
    min-width: 340px;
    max-width: 560px;
    border-radius: 8px;
    //margin-bottom: 10px;
  }

  .commentInput input {
    flex: 1; /* 입력 필드가 가능한 공간을 모두 차지하도록 설정 */
    padding: 10px; /* 입력 필드 패딩 */
    border: 1px solid #ccc; /* 테두리 스타일 */
    border-radius: 8px; /* 모서리 둥글게 */
    background-color: var(--gray-300);
    max-width: 100%; /* 최대 너비 설정 (원하는 크기로 조정 가능) */
    box-sizing: border-box;
  }

  .commentInput button {
    display: flex; /* Flexbox 사용 */
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
    margin-left: 10px;
    padding: 10px 15px; /* 버튼 패딩 */
    background-color: var(--blue-500); /* 버튼 배경색 */
    color: white; /* 버튼 텍스트 색상 */
    border: none; /* 테두리 없음 */
    border-radius: 8px; /* 모서리 둥글게 */
    cursor: pointer; /* 커서 포인터로 변경 */
  }

  .comment_member_info {
    display: flex; /* 수평 정렬을 위해 flex 사용 */
    align-items: center; /* 수직 중앙 정렬 */
    margin-bottom: 5px; /* 아래쪽 여백 */

    .comment_member_image {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 5px; /* 이미지와 텍스트 간의 간격 */
    }

    .comment_member_details {
      display: flex;
      flex-direction: column; /* 세로 방향으로 정렬 */
      width: 100%;
    }

    .comment_nickname_role {
      display: flex; /* 닉네임과 역할을 수평으로 정렬 */
      align-items: center; /* 수직 중앙 정렬 */
      width: 100%; /* 전체 너비를 사용 */
    }

    .nickname {
      @include Medium-03;
      margin-right: 5px; /* 닉네임과 역할 사이의 간격 */
    }

    .role {
      @include Medium-04;
      color: var(--blue-500);
      margin-right: 5px; /* 역할과 카테고리 사이의 간격 */
    }

    .date {
      @include Regular-06;
      margin-top: 3px; /* 날짜와 위 요소 사이의 간격 */
      align-self: flex-start; /* 날짜를 왼쪽 정렬 */
      color: var(--gray-400);
    }
  }

  @media (max-width: 340px) {
    .commentInput input {
      @include Regular-06; /* Regular-06 스타일 적용 */
    }
  }
}
