.nav {
  position: relative;
  // margin-top: calc(46px + env(safe-area-inset-bottom));
  height: calc(46px + env(safe-area-inset-bottom));

  .nav_layout {
    display: flex;
    justify-content: space-around;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: calc(0px + env(safe-area-inset-bottom));
    width: 100%;
    max-width: 600px;
    margin: 0px auto;
    background-color: var(--white);
    padding-bottom: env(safe-area-inset-bottom);

    .nav_item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1;

      .nav_icon {
        display: flex;
        width: 30px;
        height: 30px;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
      }

      .nav_text {
        color: var(--gray-500);
      }

      .focused_nav_text {
        @include Medium-03;
      }
    }
  }
}
