.container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  padding: 20px;

  .header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 600px;
    z-index: 10;
    background-color: var(--white);
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .form_item {
      display: flex;
      justify-content: space-between;

      .label {
        @include Medium-03;
        display: flex;
        align-items: center;
        gap: 5px;

        .location_button {
          background-color: var(--gray-200);
          border-radius: 50%;
          width: 32px;
          height: 32px;
        }
      }

      .input {
        @include Regular-03;
        padding: 10px;
        border-radius: 8px;
        background-color: var(--gray-100);

        &::placeholder {
          color: var(--gray-400);
        }
      }

      .max_people {
        text-align: center;
        max-width: 100px;
      }
    }

    .form_image {
      width: 100%;
      height: 146px;

      border: 1px solid var(--orange-400);
      border-radius: 8px;
      color: var(--orange-400);

      .no_image {
        @include Regular-04;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        padding: 30px;
      }

      .image_ratio {
        @include Regular-06;
        display: block;
        text-align: right;
        margin: 0 10px 10px 10px;
      }

      .has_image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .form_description {
      @include Regular-03;
      padding: 10px;
      border-radius: 8px;
      background-color: var(--gray-100);
      border: none;
      resize: none;
      height: 150px;

      &::placeholder {
        color: var(--gray-400);
      }
    }

    .submit_button {
      @include Regular-03;
      padding: 15px;
      border-radius: 8px;
      background-color: var(--orange-400);
      color: var(--white);
      text-align: center;
    }
  }
}
