.label {
  @include paragraph-3;

  text-align: center;
  background-color: var(--orange-400);
  color: var(--white);
  padding: 5px 10px;
  border-radius: 20px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100px;
}
