// Heading
@mixin heading-1 {
  font-size: toRem(36);

  @media (max-width: $breakpoint-tablet) {
    font-size: toRem(30);
  }
}

@mixin heading-2 {
  font-size: toRem(28);

  @media (max-width: $breakpoint-tablet) {
    font-size: toRem(24);
  }
}

@mixin heading-3 {
  font-size: toRem(21);

  @media (max-width: $breakpoint-tablet) {
    font-size: toRem(19);
  }
}

// Paragraph
@mixin paragraph-1 {
  font-size: toRem(18);

  @media (max-width: $breakpoint-tablet) {
    font-size: toRem(16);
  }
}

@mixin paragraph-2 {
  font-size: toRem(16);

  @media (max-width: $breakpoint-tablet) {
    font-size: toRem(14);
  }
}

@mixin paragraph-3 {
  font-size: toRem(14);

  @media (max-width: $breakpoint-tablet) {
    font-size: toRem(12);
  }
}
