@mixin Bold-01 {
  font-size: toRem(20);
  font-weight: 700;
}

@mixin Bold-02 {
  font-size: toRem(18);
  font-weight: 700;
}

@mixin Medium-02 {
  font-size: toRem(18);
  font-weight: 600;
}

@mixin Bold-03 {
  font-size: toRem(16);
  font-weight: 700;
}

@mixin Medium-03 {
  font-size: toRem(16);
  font-weight: 600;
}

@mixin Regular-03 {
  font-size: toRem(16);
  font-weight: 400;
}

@mixin Light-03 {
  font-size: toRem(16);
  font-weight: 300;
}

@mixin Bold-04 {
  font-size: toRem(14);
  font-weight: 700;
}

@mixin Medium-04 {
  font-size: toRem(14);
  font-weight: 600;
}

@mixin Regular-04 {
  font-size: toRem(14);
  font-weight: 400;
}

@mixin Light-04 {
  font-size: toRem(14);
  font-weight: 300;
}

@mixin Bold-05 {
  font-size: toRem(12);
  font-weight: 700;
}

@mixin Medium-05 {
  font-size: toRem(12);
  font-weight: 600;
}

@mixin Regular-05 {
  font-size: toRem(12);
  font-weight: 400;
}

@mixin Light-05 {
  font-size: toRem(12);
  font-weight: 300;
}

@mixin Bold-06 {
  font-size: toRem(10);
  font-weight: 700;
}

@mixin Medium-06 {
  font-size: toRem(10);
  font-weight: 600;
}

@mixin Regular-06 {
  font-size: toRem(10);
  font-weight: 400;
}

@mixin Light-06 {
  font-size: toRem(10);
  font-weight: 300;
}
