.crew_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // margin: 10px 20px 0 20px;
  padding: 20px 10px;
  .header_left {
    display: flex;
  }

  .header_center {
    display: flex;
    justify-content: center;
    flex: 1;

    .header_title {
      @include Medium-02;
    }
  }

  .aria_hidden {
    width: 24px;
  }
}
