.container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 96px;
  padding: 20px;
  gap: 30px;

  .header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 600px;
    z-index: 10;
    background-color: var(--white);
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    gap: 20px;
    padding: 0 10px;

    .label_container {
      display: flex;
      justify-content: flex-start;
      gap: 10px;
      margin-top: 10px;
    }
  }

  .crew_meeting {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 10px;

    .toggle_container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;

      .current_meeting {
        @include Bold-03;
        color: var(--black);
      }

      .toggle_button {
        @include Medium-04;
        border-radius: 12px;
        padding: 5px 20px;
        transition: background-color 0.3s;
        color: var(--gray-700);
        border-bottom: 1px solid var(--gray-700);
      }
    }

    .card_list {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .create_meeting {
      @include Medium-02;
      padding: 15px;
      border-radius: 8px;
      border: 1px solid var(--orange-400);
      color: var(--orange-400);
      text-align: center;
    }
  }

  .crew_member {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .member_header {
      display: flex;
      justify-content: space-between;

      .header_title {
        @include Bold-03;
      }
      .manage_button {
        @include Medium-04;

        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .search_container {
      border-radius: 4px;
      background-color: var(--gray-200);
      padding: 10px;
      width: 100%;
    }
  }

  .register_button {
    @include Medium-03;
    position: fixed;
    bottom: 20px;
    left: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    border-radius: 8px;
    padding: 15px;
    max-width: 400px;
    z-index: 10;
    white-space: nowrap;
    background-color: var(--blue-500);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    color: var(--white);
  }
}
