.container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 81px;

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: var(--white);
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    gap: 20px;
    padding: 0 10px;

    .label_container {
      display: flex;
      justify-content: flex-start;
      gap: 10px;
      margin-top: 10px;
    }
  }
}
