.container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 100%;

  .header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 600px;
    z-index: 10;
    background-color: var(--white);
  }

  .login_button {
    margin-top: 64px;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid var(--orange-500);
    color: var(--orange-500);
  }

  .profile_item {
    display: flex;
    width: 100%;
    gap: 10px;
    margin-top: 64px;

    .profile_image {
      flex: 0 0 100px;
      height: 100px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .profile_info {
      display: flex;
      flex-direction: column;
      align-items: baseline;
      justify-content: center;
      gap: 12px;

      .profile_nickname {
        @include Bold-01;
      }

      .profile_data {
        @include Regular-03;
        color: var(--gray-600);
        display: flex;
        gap: 5px;
        align-items: center;

        @media (max-width: 401px) {
          @include Regular-04;
        }
      }

      .profile_intro {
        @include Regular-03;
        text-align: left;
      }
    }
  }

  .menu_button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
  }

  .crew_list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    padding: 0 5px;

    .crew_title {
      @include Bold-02;
      text-align: left;
      color: var(--black);
    }

    .crew_section {
      display: flex;
      overflow-x: auto;
      gap: 20px;
      padding: 10px 0;
      scroll-snap-type: x mandatory;

      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }

      .crew_column {
        display: flex;
        flex-direction: column;
        gap: 20px;
        flex: 0 0 auto;
        scroll-snap-align: start;
        min-width: 300px;
        position: relative;

        .crew_item {
          flex: 1;
        }
      }
    }
  }
}
