.meeting_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  margin: 10px 20px 0 20px;

  .header_right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  .header_left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
}
